# Database connection string for PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/medgenz"

# NextAuth secret (generate a random string)
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Initial Admin Credentials (used for manual DB seed)
ADMIN_EMAIL="admin@medgenz.com"
ADMIN_PASSWORD="secure-password-123"
